#profile{
    /* display: flex; */
    margin-top: 3em;
}

#profile .flex{
    display: flex;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    max-height: 250px;
    width: 20%;
    border-radius: 50%;
}

#profile .flex .info{
   padding: 1em;
   display: flex;
   flex-direction: column;
}

.text-dark{
    color: var(--color-dark);
}